body {

	background-color: red;
	font-family: 'Signika', sans-serif;
	
}

div {
	display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 60px;
}

p {
    display: inline-block;
    width: 100%;
    font-size: 3.5em;
    line-height: 30px;
    color: rgb(226, 223, 223);
    text-transform: uppercase;

}